---
const { text, id } = Astro.props;
---

<button id={id}>
    {text}
</button>

<script is:inline define:vars={{ id: id }}>
    document.getElementById(id)?.addEventListener("click", () => {
        fetch(`../${id}`);
    });
</script>
